/BigDaddy-CharacterManager/Client/obj
/BigDaddy-CharacterManager/Client/bin
/BigDaddy-CharacterManager/Server/obj
/BigDaddy-CharacterManager/Server/bin
/BigDaddy-CharacterManager/fxmanifest.lua
/BigDaddy-CharacterManager/build.cmd
/BigDaddy-CharacterManager/deploy.bat
